:root {
  --body-bg: #fafafa;
  --body-color: #7a7a7a;
  --body-font-weight: 400;
  --link-color: #0074d9;
  --link-color-hover: rgb(105, 105, 105);
  --heading-color: #333;
  --heading-color-hover: #222;
  --hr-color: rgba(0,0,0,.1);
}
@media (prefers-color-scheme: dark) {
  :root {
    --body-bg: #212529;
    --body-color: #6c757d;
    --body-font-weight: 300;
    --link-color: #dee2e6;
    --link-color-hover: #fff;
    --heading-color: #fff;
    --hr-color: rgba(255,255,255,.1);
  }
}

* {
  box-sizing: border-box;
}
html { font-size: 16px; }
@media (min-width: 30em) {
  html { font-size: 18px; }
}
body {
  margin: 0;
  padding: 1.5rem;
  font: var(--body-font-weight) 1rem/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  color: var(--body-color);
  background-color: var(--body-bg);
  
}
@media (min-width: 500px) {
  body {
    padding: 1.5rem;
    /* padding-bottom: 0; */
  }
}

a {
  /* color: var(--link-color);
  color: #000000; */
  color: var(--heading-color-hover);
  text-decoration: none;
  transition: color .2s ease-in-out;
}
a:hover {
  color: var(--link-color-hover);
  text-decoration: underline;
  text-decoration-skip-ink: auto;
}
h1, h2, h3 {
  margin-top: 0;
  font-weight: 500;
}
h1 {
  margin-bottom: .5rem;
  font-size: 2.25rem;
  line-height: 1;
}
h1 a {
  color: var(--heading-color);
}
h1 span {
  display: inline-block;
  font-weight: 300;
}
h2 {
  margin-bottom: 1rem;
  font-size: 1rem;
  color: var(--body-color);;
}
h3 {
  margin-bottom: 0;
  font-size: 1.25rem;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.lead {
  font-size: 1.25rem;
  line-height: 1.3;
  color: var(--heading-color);;
}
hr {
  width: 6rem;
  height: 1px;
  margin: 2.5rem 0;
  background-color: var(--hr-color);
  border: 0;
}
@media (min-width: 500px) {
  .masthead {
    max-width: 593px;
    width: 100%;
  }
}
.links {
  font-size: 1.5rem;
}
.links a {
  color: var(--heading-color);
  margin-right: .5rem;
}
.links a:hover {
  color: var(--heading-color-hover);
  text-decoration: none;
}
.footer {
  color: var(--body-color);
}




/* Component Needs */
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:100,400,700);
.pc-tab > input,
.pc-tab section > div {
  display: none;
}

#tab1:checked ~ section .tab1,
#tab2:checked ~ section .tab2,
#tab3:checked ~ section .tab3 {
  display: block;
}

#tab1:checked ~ nav .tab1,
#tab2:checked ~ nav .tab2,
#tab3:checked ~ nav .tab3 {
  color: red;
}

/* Visual Styles */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  /* background: #ecf0f1; */
  /* font-family: 'Raleway'; */
}





h1, h2, h3 {
    margin-top: 0;
    font-weight: 500;
}

/* h1 {
  text-align: center;
  font-weight: 100;
  font-size: 60px;
  color: #e74c3c;
} */

.pc-tab {
  /* width: 100%; */
  max-width: 593px;
  width: 100%;
  /* margin: 0 auto; */
}
.pc-tab ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.pc-tab ul li label {
  /* font-family: "Raleway"; */
  float: left;
  padding: 15px 25px;
  border: 1px solid #ddd;
  border-bottom: 0;
  background: #eeeeee;
  background: #eeeeee38;
  color: #444;
}
.pc-tab ul li label:hover {
  background: #a2a2a238;
}
.pc-tab ul li label:active {
  background: #a2a2a238;
}
.pc-tab ul li:not(:last-child) label {
  border-right-width: 0;
}
.pc-tab section {
  /* font-family: "Droid Serif"; */
  clear: both;
}
.pc-tab section > div {
  padding: 20px;
  width: 100%;
  border: 1px solid #ddd;
  background: #fff;
  line-height: 1.5em;
  letter-spacing: 0.3px;
  color: #444;
  background: linear-gradient(135deg, rgb(236, 236, 236) 0%, rgb(216, 216, 216) 100%);
  height: 50vh;
  overflow-y: auto;
  background: #bfbfbf7a;
  overflow: hidden;
}

.pc-tab section div:hover {
  overflow: auto;
}

.pc-tab section div hr {
  margin: 10px 0;
}

.pc-tab section div h2 {
  margin: 0;
  /* font-family: "Raleway"; */
  letter-spacing: 1px;
  color: #34495e;
}

#tab1:checked ~ nav .tab1 label,
#tab2:checked ~ nav .tab2 label,
#tab3:checked ~ nav .tab3 label {
  background: white;
  color: #111;
  position: relative;
  background: #a2a2a238;
  /* text-decoration: underline; */
}
/* #tab1:checked ~ nav .tab1 label:after,
#tab2:checked ~ nav .tab2 label:after,
#tab3:checked ~ nav .tab3 label:after {
  content: '';
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #ffffff;
  left: 0;
  bottom: -1px;
} */

footer {
  margin-top: 15px;
  font-size: 14px;
  color: #CCC;
  text-align: center;
}
footer a {
  color: #AAA;
  text-decoration: none;
}


body {
  background-image: url(clear-bg.jpg);
  background-size: cover;
  background-position: 0;
}




.overflow-scroll-gradient {
  position: relative;
}
.overflow-scroll-gradient::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 250px;
  height: 25px;
  background: linear-gradient(
    rgba(255, 255, 255, 0.001),
    white
  ); /* transparent keyword is broken in Safari */
  pointer-events: none;
}
.overflow-scroll-gradient__scroller {
  overflow-y: scroll;
  background: white;
  width: 240px;
  height: 200px;
  padding: 15px;
  line-height: 1.2;
}

.container {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 500px) {
  .container {
   flex-flow: column;
  }
}

footer {
      display: flex;
    align-items: flex-end;
}





footer p {
  margin: 0;
  margin-bottom: -2px;
  margin: 0;
    margin-bottom: -25px;
    color: #929292;
}


@media (max-width: 500px) {
  footer p{
    margin-bottom: 0;
  }
}

body {
  background-color: #B7B9B6;
}

h1 {
  color: var(--heading-color);
}

form {
  display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.mb-3 {
  margin-bottom: 1rem !important; 
}

form input,form textarea {
  margin-bottom: 1rem;
  border-radius: 3px;
  border: 1px solid #7b7b7b;
  width: 300px;
  padding: 10px;
  font-size: 15px;
  background-color: #7373731f;
  background-color: #ffffff30;
}

button {
   margin-bottom: 1rem;
    border-radius: 3px;
    border: 1px solid #7b7b7b;
    padding: 10px;
    font-size: 15px;
    background-color: #3e3d3dc7;
    color: #d4d3d3;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
}

button:hover {
  background-color: #232323;
}